.home_img {
  width: 70%;
}

@media only screen and (max-width: 480px) {
  .home_info {
    text-align: center;
  }

  .home_img {
    margin-bottom: 2.5rem;
  }

  .home_container {
    display: flex;
    flex-direction: column-reverse;
  }
}
