body {
  background: rgb(8, 55, 122);
  background: linear-gradient(
    90deg,
    rgba(8, 55, 122, 1) 1%,
    rgba(2, 0, 36, 1) 100%,
    rgba(1, 166, 227, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(8, 55, 122, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Alegreya", serif !important; */
  font-family: "Josefin Sans", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
